---
# Overwrite Tachyons here. Don't go overboard!
---
//Fonts
.regular {
  font-family: "Berlingske Serif Regular",serif;
	font-weight: normal;
	font-style: normal;
}
.bold {
  font-family: "Berlingske Serif DemiBold",serif;
	font-weight: normal;
	font-style: normal;
}

.neutral {
  font-family: "Neutral Std Regular",sans-serif;
	font-weight: normal;
	font-style: normal;
}

.f0 {
  font-size: 4.5rem;
}
@media (min-width:30em){
.f00-ns{
  font-size: 6rem;
}
}
span{
}
.vertical-text {
  /*transform: rotate(270deg);*/
  writing-mode: vertical-lr;
  direction: rtl;
  line-height:1;
  margin-top:1rem;
}
.description {
  margin-top:8rem;

}
