---
# Overwrite Tachyons here. Don't go overboard!
---
p > img{
  max-width:100%;
}


@import
  "variables.scss",
  "typography.scss",
  "colors.scss"

;




//Gaus logo
#meiru-logo {
  top: -20%;
  right:55%;
  z-index: -1;
  height: 120%;
  width: auto;

}
// Negative Spacing

.nl1{
  margin-left: -1em;
}

// Responsive

@media (min-width:30em){
.f00-ns{
  font-size: 14vh;
  margin-top: -14vh;
}
.left-auto-ns {
  left: auto;
}
}

.vertical-text {
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  direction: rtl;
}
.description {
  margin-top:8rem;
}

.z-0 { z-index: 0; }
.z-1 { z-index: 1; }
.z-2 { z-index: 2; }

//Fade-In

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.duration-2{
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.duration-3{
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
.delay-1 {
  -webkit-animation-delay: 1s;
  animation-delay:1s;
}
.delay-2 {
  -webkit-animation-delay: 2s;
  animation-delay:2s;
}
