section {
display:block;
}

section p {
}
.story{
  margin-top:8rem;
  margin-bottom:8rem;
}
.story div {
  ;
  display:inline-block;
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -ms-transform-origin: left  0;
  -moz-transform-origin: left  0;
  -webkit-transform-origin: left  0;
  transform-origin: left  0;
  }
