<nav class="flex justify-between dt-l w-100 border-box">
    <div class="dib v-mid dn-ns tc">
      <a class="link dim dark-gray f6 f5-l dib" href="#" title="Info">Info</a>
    </div>
    <div class="dib dtc-l v-mid w-75 tc tr-l">
      <a class="link dim dark-gray f6 f5-l dib" href="#" title="Home">
        <object type="image/svg+xml" data="/assets/meiru-logo.svg" class="w3 w4-l">
        </object></a>
      </div>
  <div class="dib dn-ns v-mid w-75-l">
    <a class="link dim dark-gray f6 f5-l dib" href="#" title="Contact">Submit</a>
  </div>
</nav>
