<nav class="dt-l w-100 border-box pa3 ph4-l">
    <div class="dib dtc-l v-mid w-75-l tc tr-l">
      <a class="link dim dark-gray f6 f5-l dib" href="#" title="Contact">Info</a>
    </div>
    <div class="dib dtc-l v-mid w-75-l tc tr-l">
      <a class="link dim dark-gray f6 f5-l dib" href="#" title="Home">
        <object type="image/svg+xml" data="/assets/meiru-logo.svg" class="dib w3">
        </object></a>
      </div>
  <div class="dib dtc-l v-mid w-75-l tc tr-l">
    <a class="link dim dark-gray f6 f5-l dib" href="#" title="Contact">Submit</a>
  </div>
</nav>
