<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="{{ site.title }}"/>
<meta property="og:description" content="{{ site.description }}"/>
<meta property="og:url" content="http://learning-gardens.co/"/>
<!-- <meta property="og:image" content="{{ site.github.url }}/images/card.png"/> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/site.css" />
