//Hover Effects
.img-hover img {
top:20%;
right:0;
display: none;
}

.img-hover:hover{
  .img-holder {
    display: block;
  }
  h2 {
    -webkit-text-stroke: 4px $coralpink-high;
    -moz-text-stroke: 4px $coralpink-high;
    -ms-text-stroke: 4px $coralpink-high;
    -o-text-stroke: 4px $coralpink-high;
    text-stroke: 4px $coralpink-high;
    color: transparent;
  }
}
// Animations
@keyframes scale-left{
  from{
    opacity: 0;
    -webkit-transform:translateX(30px) scale(0.98);
  }
  to{
    opacity: 1;
    -webkit-transform:translateX(0px) translateY(0px) translateZ(0px) scale(1);

  }
}
@keyframes scale-down{
  from{
    opacity:0;
    -webkit-transform:translate(0px, -50px) scale(1.05);
  }
  to{
    opacity:1;
    -webkit-transform:translateX(0px) translateY(0px) translateZ(0px) scale(1);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
  }
}

.animate{
  animation-duration: 2s;
  animation-timing-function: ease;
}
.animate__scale-left{
  animation-name: scale-left;
}
.animate__scale-down{
  animation-name: scale-down;
}
.animate__fade-in{
  animation-name: fade-in;
}
.animate__fade-up{
  animation-name: fade-up;
}
