//Heading
.title {
  font-family: "Zigzag-Rounded",serif;
  letter-spacing: -0.03em;
  color: $coralpink-high;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
@media(min-width: 30rem) {
  .f0-ns{
    font-size: 137px;
    font-weight:normal;
  }
}

.title--0{
  -webkit-font-feature-settings:'clig' 0 ;
  -moz-font-feature-settings:'clig' 0 ;
  -ms-font-feature-settings:'clig' 0 ;
  -o-font-feature-settings:'clig' 0 ;
  font-feature-settings:'clig' 0 ;
}
.title--titl{
-webkit-font-feature-settings: 'clig' 1, 'titl' 1;
-moz-font-feature-settings: 'clig' 1, 'titl' 1;
-ms-font-feature-settings: 'clig' 1, 'titl' 1;
-o-font-feature-settings: 'clig' 1, 'titl' 1;
font-feature-settings: 'clig' 1, 'titl' 1;
}
.title--swh{
-webkit-font-feature-settings: 'clig' 1,  'cswh' 1;
-moz-font-feature-settings: 'clig' 1,  'cswh' 1;
-ms-font-feature-settings: 'clig' 1,  'cswh' 1;
-o-font-feature-settings: 'clig' 1, 'cswh' 1;
font-feature-settings: 'clig' 1, 'cswh' 1;
}
.title--mix{
-webkit-font-feature-settings: 'clig' 0, 'titl' 1, 'cswh' 1;
-moz-font-feature-settings: 'clig' 0, 'titl' 1, 'cswh' 1;
-ms-font-feature-settings: 'clig' 0, 'titl' 1, 'cswh' 1;
-o-font-feature-settings: 'clig' 0, 'titl' 1, 'cswh' 1;
font-feature-settings: 'clig' 0, 'titl' 1, 'cswh' 1;
}
.title--test{
  -webkit-font-feature-settings:'ss02' ;
  -moz-font-feature-settings:'ss02' ;
  -ms-font-feature-settings:'ss02' ;
  -o-font-feature-settings:'ss02' ;
  font-feature-settings:'ss02' ;
}
.tnum{
  font-variant-numeric: proportional-nums;
  -moz-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}
h2,h3,h4,h5,p{
  font-family: "Leitura",Times, serif;
}


h2,h3 {
  font-size: 18px;
  font-weight: 600;
  color: $blu-high;
  line-height:24px;
  margin-top: 0;
  margin-bottom: 27px;
}
p{
  font-size: 18px;
  line-height: 27px;
  margin-top:0;
  margin-bottom: 27px;
  color: $blu-high;
}
blockquote p {
  font-style: italic;
}
