//Zig Zag
@font-face {
  font-family: 'Zigzag-Rounded';
  src: url('/assets/fonts/Zigzag-Rounded.eot');
  src: url('/assets/fonts/Zigzag-Rounded.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Zigzag-Rounded.woff2') format('woff2'),
  url('/assets/fonts/Zigzag-Rounded.woff') format('woff'),
  url('/assets/fonts/Zigzag-Rounded.ttf') format('truetype');
  font-weight:normal;
  }

//Leitura-Regular
@font-face {
  font-family: 'Leitura';
  src: url('/assets/fonts/LeituraNews-Roman1.eot');
  src: url('/assets/fonts/LeituraNews-Roman1.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/LeituraNews-Roman1.woff2') format('woff2'),
  url('/assets/fonts/LeituraNews-Roman1.woff') format('woff'),
  url('/assets/fonts/LeituraNews-Roman1.ttf') format('truetype');
  font-weight:normal;
  }

//Leitura-Medium
  @font-face {
    font-family: 'Leitura';
    src: url('/assets/fonts/LeituraNews-Roman2.eot');
    src: url('/assets/fonts/LeituraNews-Roman2.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/LeituraNews-Roman2.woff2') format('woff2'),
    url('/assets/fonts/LeituraNews-Roman2.woff') format('woff'),
    url('/assets/fonts/LeituraNews-Roman2.ttf') format('truetype');
    font-weight:600;
    }
