
//Color Palette
$coralpink: #FD809B;
  $coralpink-high: #F1335E;
  $coralpink-low: #fAC8D2;

$blu: #249CDF;
  $blu-high: #1E4487;
  $blu-low: #DFF6FE;


$color-palette: (
  coralpink:($coralpink, $coralpink-high, $coralpink-low),
  blu:($blu, $blu-high, $blu-low),);
