
//Color Palette
$coralpink: #FD809B;
  $coralpink-high: #F1335E;
  $coralpink-mid: #FC567A;
  $coralpink-low: #fAC8D2;

$blu: #9691F2;
  $blu-high: #302AA8;
  $blu-mid: #3F38DE;
  $blu-low: #DFF6FE;


$color-palette: (
  coralpink:($coralpink, $coralpink-high,$coralpink-mid, $coralpink-low),
  blu:($blu, $blu-high, $blu-mid, $blu-low),);
