---
layout: default
---

<div class="mh3 debug">
  <article class="center bg-blu--low br4 pb2 mb4" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="mw8 center">
      <header class="tc">
      <h1 class="title pt4" itemprop="name headline">
        {{ page.title }}
      </h1>
    </header>
    <div class="tc">
      <img class="w-100 w-80-ns" src="../uploads/{{ page.hero }}" alt="jessica hero image">
    </div>
  </div>
  <div class="center" itemprop="articleBody">
    {{ content }}
  </div>
  </article>
</div>
