---
layout: default
---

<div class="mh3-ns">
  <article class="center bg-blu--low br4 pb2 mb4 animate animate__fade-up" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="mw8 center">
      <header class="tc pt5 mb5">
      <h1 class="f1 f0-ns title title--mix mv0">
        {{ page.title }}
      </h1>
    </header>
    <div class="tc mb6">
      <img class="w-100 w-80-ns" src="../uploads/{{ page.hero }}" alt="hero image">
    </div>
  </div>
  <div class="center">
    {{ content }}
  </div>
  </article>
</div>
